<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.3/dist/web/static/pretendard-dynamic-subset.css"
        />
        <link rel="stylesheet" href="/static/css/match_page/matching.css" />
        <title>매칭 등록 및 신청 페이지</title>
    </head>
    <body>
        <div id="match-page">
            <header></header>
            <div></div>
            <main class="matching-main">
                <article class="matching-article">
                    <h1>
                        검증된 회원들,
                        <br class="br-class" />
                        실력있는 팀들과 경기 해보세요
                    </h1>
                    <p>매칭 선택 후에도 다른 팀들과 매칭이 가능합니다</p>
                    <ul class="ul-main">
                        <li>
                            <button class="register">
                                <p>팀 등록</p>
                                <a
                                    style="text-decoration: none"
                                    href="https://www.naver.com/"
                                >
                                    <ul class="ul">
                                        <li>우리 팀이 홈팀이고 싶을때</li>
                                        <li>지역과 장소 선택 후 등록</li>
                                        <li>다양한 지역과 장소 조회 가능</li>
                                    </ul>
                                </a>
                            </button>
                        </li>
                        <li>
                            <button class="apply">
                                <p>팀 선택</p>
                                <a
                                    style="text-decoration: none"
                                    href="https://www.google.co.kr/?hl=ko"
                                >
                                    <ul class="ul">
                                        <li>우리 팀이 원정팀이고 싶을때</li>
                                        <li>지역과 장소 조회 후 선택</li>
                                        <li>조건에 맞는 다양한 팀 선택 가능</li>
                                    </ul>
                                </a>
                            </button>
                        </li>
                    </ul>
                    <div class="match-member">
                        <div>이미 야 나와 회원이신가요?</div>
                        <a class="login-button">
                            <span class="login-page">로그인하러 가기</span>
                            <span class="login-page-button"></span>
                        </a>
                    </div>
                </article>
            </main>
            <footer></footer>
            <div></div>
        </div>
    </body>
</html>
