#match-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}
body * {
    font-family: "Pretendard";
}
body * {
    font-family: "Pretendard" !important;
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}
body {
    font-family: Pretendard !important;
    background-color: rgb(247, 248, 250);
}
.register-main {
    margin: 0px auto;
    max-width: 1080px;
    width: 100%;
    flex: 1 1 auto;
    position: relative;
}
.register-con {
    min-height: unset;
    margin-bottom: 140px;
    position: relative;
    padding: 0px 20px;
}
.register-title {
    padding: 80px 0px 70px;
    text-align: center;
    line-height: normal;
}
.register-title h2 {
    font-size: 32px;
    color: rgb(51, 51, 51);
    font-weight: bold;
}
.register-title-con {
    padding-top: 20px;
    font-size: 16px;
    letter-spacing: -0.1px;
    color: rgb(118, 118, 118);
}
.registe-form {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
}

.register-form-con {
    text-align: left;
    line-height: normal;
    padding: unset !important;
    background-color: white;
    border-radius: 10px;
}
.register-form-header {
    padding: 22px 40px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgb(220, 220, 220);
}
.register-form-header ul {
    display: flex;
    align-items: center;
}
ul {
    list-style: none;
}
.register-form-header-1 {
    margin-right: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.register-form-header-1 span {
    margin-right: 8px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(51, 102, 255);
    font-size: 16px;
    font-weight: bold;
    color: white;
}
.register-form-header-1 h2 {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: rgb(51, 102, 255);
}
.span-step {
    margin-right: 10px;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    background-color: rgb(225, 227, 232);
}
.span-step-1 {
    display: none;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, calc(-50% - 8px));
    z-index: 1;
    width: max-content;
    padding: 4px 8px;
    border: 1px solid rgb(234, 239, 255);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
    background-color: white;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.1px;
    color: rgb(51, 51, 51);
}
.buttton-div {
    display: flex;
    gap: 10px;
    margin: 0px;
    padding: 0px;
}
.next-button-1 {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: rgb(51, 102, 255);
    width: 100px;
    height: 32px;
    padding: 0px;
    font-size: 13px;
    color: white !important;
}
.next-button-2 {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: rgb(51, 102, 255);
    width: 100px;
    height: 32px;
    padding: 0px;
    font-size: 13px;
    color: white !important;
}
.button-span {
    text-align: center;
    white-space: normal;
    font-weight: 600;
    line-height: initial;
}
.register-form-main {
    padding: 10px 40px 60px;
    min-height: 323px;
}
.register-form-main-title {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}
.register-form-main-title-con {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.1px;
    color: rgb(136, 136, 136);
}
.register-form-main ul {
    margin-top: 40px;
    display: flex;
    margin-right: -80px;
}
.register-form-main ul li {
    margin-right: 8%;
    flex-grow: 1;
    width: 42%;
}
.register-info {
    position: relative;
}
.registe-form .register-info-row {
    flex-direction: column;
}
.left {
    text-align: start;
}
.form-labal {
    line-height: normal;
}
.registe-form .register-info-col {
    min-height: auto;
}
.label-name {
    font-weight: 600;
}
.form-labal label {
    position: relative;
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    color: rgba(0, 0, 0, 0.88);
    height: fit-content !important;
    font-size: 16px !important;
}
.required::after {
    display: inline-block;
    margin-right: 4px;
    color: rgb(255, 77, 79);
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
    visibility: initial;
    margin-inline-start: 2px;
    font-weight: 600;
}
.form-control-input {
    position: relative;
    display: flex;
    align-items: center;
}
.form-control-input-content {
    flex: auto;
    max-width: 100%;
}
.form-input {
    padding-left: 16px;
    margin-top: 16px;
    border: 1px solid rgb(225, 227, 232);
    box-shadow: none;
    border-radius: 5px;
    min-height: 44px;
    width: 100%;
}
.input-error {
    border-color: red;
}
.input-explain {
    font-size: 12px;
    padding-top: 10px;
    color: rgb(151, 157, 164);
}
.input-explain-error {
    font-size: 12px;
    color: rgb(254, 65, 92);
}
.right {
    order: 2;
    margin-right: 0px;
}
.left {
    order: 1;
    margin-right: 8%;
}
.sport-group {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    position: relative;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}
body {
    font-family: Arial, sans-serif;
}

.dropdown {
    width: 300px;
    margin: 50px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select {
    appearance: none; /* 기본 화살표 숨기기 */
    background: url("images/dropdown.png") no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
}
select:focus {
    outline: none;
    border-color: #007bff;
}
option[disabled][selected] {
    display: none;
}
#span-1 {
    background-color: rgb(51, 102, 255);
}
.before-button-1 {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid rgb(192, 192, 192);
    background-color: white;
    width: 100px;
    height: 32px;
    padding: 0px;
    font-size: 13px;
    color: black !important;
}
.before-button-2 {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid rgb(192, 192, 192);
    background-color: white;
    width: 100px;
    height: 32px;
    padding: 0px;
    font-size: 13px;
    color: black !important;
}
.main-tip {
    margin-top: 20px;
    font-size: 15px;
    color: rgb(102, 102, 102);
    border: 1px solid rgb(195, 210, 255);
    background-color: rgb(250, 251, 255);
    padding: 16px 20px;
    border-radius: 5px;
    position: relative;
}
.tip-title {
    display: flex;
    align-items: center;
}
.icon {
    background-color: rgb(51, 102, 255);
    height: 20px;
    display: inline-block;
    padding: 0px 8px;
    margin-right: 8px;
    border-radius: 11.5px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
}
.place-con {
    display: flex;
    position: relative;
}
.place-buttton {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid rgb(192, 192, 192);
    background-color: white;
    width: 100px;
    height: 32px;
    padding: 0px;
    font-size: 13px;
    color: black !important;
    position: absolute;
    transform: translateX(220px) translateY(-10px);
}
.form-control-input-content.div-time {
    margin-right: 70px;
}
.date-con {
    display: flex;
    position: relative;
}
.date-buttton {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid rgb(192, 192, 192);
    background-color: white;
    width: 100px;
    height: 32px;
    padding: 0px;
    font-size: 13px;
    color: rgb(51, 102, 255) !important;
    position: absolute;
    transform: translateX(236px) translateY(-10px);
}

.date-img {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI1LjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxNCAxNCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTQgMTQ7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7ZmlsbDojOTc5REE0O30KCS5zdDF7ZmlsdGVyOnVybCgjQWRvYmVfT3BhY2l0eU1hc2tGaWx0ZXIpO30KCS5zdDJ7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7ZmlsbDojRkZGRkZGO30KCS5zdDN7bWFzazp1cmwoI21hc2stMl8yXyk7fQo8L3N0eWxlPgo8ZyBpZD0iU3ltYm9scyI+Cgk8ZyBpZD0iR3JvdXAtNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMC4wMDAwMDAsIDAuMDAwMzAwKSI+CgkJPGcgaWQ9IkZpbGwtMSI+CgkJCTxwYXRoIGlkPSJwYXRoLTFfMV8iIGNsYXNzPSJzdDAiIGQ9Ik0xLjksMy4yYy0wLjIsMC0wLjQsMC4xLTAuNCwwLjNWMTJjMCwwLjIsMC4yLDAuMywwLjQsMC4zaDEwLjJjMC4yLDAsMC40LTAuMSwwLjQtMC4zVjMuNgoJCQkJYzAtMC4yLTAuMi0wLjMtMC40LTAuM0gxLjl6IE0xMC4zLDBDMTAuNywwLDExLDAuMywxMSwwLjhsMCwxaDEuMWMxLDAsMS45LDAuOCwxLjksMS44VjEyYzAsMS0wLjgsMS44LTEuOSwxLjhIMS45CgkJCQlDMC44LDEzLjgsMCwxMywwLDEyVjMuNmMwLTEsMC44LTEuOCwxLjktMS44SDNsMC0xQzMsMC4zLDMuMywwLDMuOCwwczAuOCwwLjMsMC44LDAuOGwwLDFoNWwwLTFDOS41LDAuMyw5LjgsMCwxMC4zLDB6CgkJCQkgTTEyLjUsNS4zaC0xMXYxLjVoMTFWNS4zeiIvPgoJCTwvZz4KCQk8ZGVmcz4KCQkJPGZpbHRlciBpZD0iQWRvYmVfT3BhY2l0eU1hc2tGaWx0ZXIiIGZpbHRlclVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+CgkJCQk8ZmVDb2xvck1hdHJpeCAgdHlwZT0ibWF0cml4IiB2YWx1ZXM9IjEgMCAwIDAgMCAgMCAxIDAgMCAwICAwIDAgMSAwIDAgIDAgMCAwIDEgMCIvPgoJCQk8L2ZpbHRlcj4KCQk8L2RlZnM+CgkJPG1hc2sgbWFza1VuaXRzPSJ1c2VyU3BhY2VPblVzZSIgaWQ9Im1hc2stMl8yXyI+CgkJCTxnIGNsYXNzPSJzdDEiPgoJCQkJPHBhdGggaWQ9InBhdGgtMV8zXyIgY2xhc3M9InN0MiIgZD0iTTEuOSwzLjJjLTAuMiwwLTAuNCwwLjEtMC40LDAuM1YxMmMwLDAuMiwwLjIsMC4zLDAuNCwwLjNoMTAuMmMwLjIsMCwwLjQtMC4xLDAuNC0wLjNWMy42CgkJCQkJYzAtMC4yLTAuMi0wLjMtMC40LTAuM0gxLjl6IE0xMC4zLDBDMTAuNywwLDExLDAuMywxMSwwLjhsMCwxaDEuMWMxLDAsMS45LDAuOCwxLjksMS44VjEyYzAsMS0wLjgsMS44LTEuOSwxLjhIMS45CgkJCQkJQzAuOCwxMy44LDAsMTMsMCwxMlYzLjZjMC0xLDAuOC0xLjgsMS45LTEuOEgzbDAtMUMzLDAuMywzLjMsMCwzLjgsMHMwLjgsMC4zLDAuOCwwLjhsMCwxaDVsMC0xQzkuNSwwLjMsOS44LDAsMTAuMywwegoJCQkJCSBNMTIuNSw1LjNoLTExdjEuNWgxMVY1LjN6Ii8+CgkJCTwvZz4KCQk8L21hc2s+CgkJPGcgaWQ9Ikdyb3VwIiBjbGFzcz0ic3QzIj4KCQk8L2c+Cgk8L2c+CjwvZz4KPC9zdmc+Cg==")
        no-repeat;
    appearance: none;
    background-position: right 10px center;
    background-size: 12px;
}
#span-4 {
    background-color: rgb(51, 102, 255);
}
.finish-button {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: rgb(51, 102, 255);
    width: 100px;
    height: 32px;
    padding: 0px;
    font-size: 13px;
    color: white !important;
}
.input-textarea {
    padding: 0;
    position: relative;
    display: inline-flex;
    width: 100%;
    min-width: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    border-radius: 6px;
    transition: all 0.2s;
    background: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #d9d9d9;
}
.textarea {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    height: 120px;
    padding: 10px 14px;
    resize: none;
    line-height: 20px;
    font-size: 16px !important;
}
.input-explain.div-text {
    font-size: 12px;
    padding-top: 0px;
    color: rgb(151, 157, 164);
}
#form-2 {
    display: none;
}
#form-3 {
    display: none;
}
.time-coordinate-raido label {
    margin-top: 95px;
    font-size: 16px;
}
.input-radio {
    margin-top: 20px;
}
.input-radio .poss {
    margin-right: 6px;
}
.input-radio .imposs {
    margin-right: 5px;
}
.poss-span {
    margin-right: 20px;
}
.imposs-span {
    margin-right: 20px;
}
.date-coordinate-raido label {
    margin-top: 30px;
    font-size: 16px;
}
