@font-face {
    font-family: "Pretendard-Black";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-Black.woff2") format(woff2);
}

@font-face {
    font-family: "Pretendard-Bold";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-Bold.woff2") format(woff2);
}

@font-face {
    font-family: "Pretendard-ExtraBold";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-ExtraBold.woff2") format(woff2);
}

@font-face {
    font-family: "Pretendard-ExtraLight";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-ExtraLight.woff2") format(woff2); 
}

@font-face {
    font-family: "Pretendard-Light";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-Light.woff2") format(woff2);
}

@font-face {
    font-family: "Pretendard-Medium";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-Medium.woff2") format(woff2);
}

@font-face {
    font-family: "Pretendard-Regular";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-Regular.woff2") format(woff2);
}

@font-face {
    font-family: "Pretendard-SemiBold";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-SemiBold.woff2") format(woff2);
}

@font-face {
    font-family: "Pretendard-Thin";
    src: url("/fonts/Pretendard-1.3.9/web/static/woff2/Pretendard-Thin.woff2") format(woff2);
}

@font-face {
    font-family: "PretendardVariable";
    src: url("/fonts/Pretendard-1.3.9/web/variable/woff2/PretendardVariable.woff2") format(woff2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    min-width: 1440px;
    min-height: 765px;
    font-family: "Pretendard-Regular";
}

/* Main*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

/* Header */
.header {
    width: 100%;
    height: 60px;
    min-height: 60px;
    border-bottom: 1px solid #0000000d;
}

.header-div {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 12px 20px;
}

.header-div >button {
    height: 35px;
    width: 210px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-span {
    height: 100%;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.header-svg {
    user-select: none;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
    height: 32px;
    width: 156px;
}

.header-loginPageName {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 700;
    color: #171719;
    font-family: "Pretendard-ExtraBold";
}

.header-loginPageName-1 {
    letter-spacing: -0.002em;
    line-height: 26px;
}


.yanawa-logo-img {
    width: 90px;
}

/* Section */
.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: 80px;
    background-color: rgb(255, 255, 255);
}

/* 회원가입 전체 div */
.login-section-1 {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 회원가입 div */
.login-section-2 {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
}

/* '이메일로 로그인' 빈공간 포함 div */
.login-withEmail-text {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 20px;
}

/* 빈 공간(좌) */
.login-withEmail-left {
    /*  */
    visibility: hidden;
    min-width: 64px;
}

.login-withEmail-left-1 {
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px;
    margin: -8px;
    fill: #000000;
}

.login-withEmail-left-2 {
    display: flex;
    align-items: inherit;
    justify-content: inherit; 
}


.login-withEmail-left-1 svg {
    fill: inherit;
}

.login-withEmail-left-3 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    flex-shrink: 0;
    font-size: 24px;
}

/* '이메일로 로그인' div */
.login-withEmail-middle {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 700;
    color: #171719;
    font-family: "Pretendard-Bold";
}

.login-withEmail-middle-1 {
    text-align: center;
    letter-spacing: -0.002em;
    line-height: 26px;;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

/* 빈 공간(우) */
.login-withEmail-right {
    display: flex;
    min-width: 64px;
    justify-content: flex-end;
    align-items: center;
}

/* '이메일로 로그인' text 외 div */
.login-withEmail-div {
    margin-top: 56px;
    scrollbar-width: none;
}

.login-withEmail-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
}

/* 이메일, 비밀번호, 로그인 div */
.login-withEmail-form >div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* 이메일 */
.email {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.email-1, .email-2 {
    position: relative;
}

/* '이메일, 비밀번호, 로그인 유지' margin-bottom */
.margin-bottom {
    margin-bottom: 8px;
}


/* '이메일, 비밀번호, 로그인 유지' label */
.label-style {
    color: rgba(55, 56, 60, 0.61);
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.0145em;
    font-size: 14px;
    line-height: 20px;
    font-family: "Pretendard-SemiBold";
}

/* '이메일, 비밀번호' input */
.input-style {
    width: 100%;
    height: 48px;
    min-height: 48px;
    padding: 0px 16px;
    outline: none;
    background-color: transparent;
    border: 1px solid rgb(199 200 201);
    color: rgb(23, 23, 25);
    border-radius: 10px;
    font-family: "Pretendard-Light";
    font-size: 16px;
    font-weight: 400;
}

.input-style:focus {
    border: 1px solid #0066ff; 
}


/* 이메일-2 (+오류 메시지) */
#email-2 {
    border: 1px solid rgb(255, 66, 66);
}

#email-error {
    color: rgb(255, 66, 66);
    font-weight: 400;
    letter-spacing: 0.0192em;
    font-size: 13px;
    text-align: left;
    line-height: 18px;
    font-family: "Pretendard-Regular";
}

input::placeholder {
    color: rgb(199 200 201);
}

/* 비밀번호 */
.password {
    position: relative;
}

/* 로그인 유지 */
.stay-login {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
}

.stay-login >input {
    width: 15px;
    height: 15px;
}

.stay-login >div {
    margin: 0px;
}

/* 비밀번호 가리기&보이기 */
.toggle-icon {
    position: absolute;
    top: 40px;
    right: 12px;
    font-size: 24px;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.toggle-icon-1 {
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}

.toggle-icon-2, .toggle-icon-3 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    flex-shrink: 0;
    font-size: inherit;
}

.hidden {
    display: none;
}

/* 로그인 실패 시 오류 메시지 */
.password >p {
    margin-bottom: -15px;
}

.login-failed {
    color: rgb(255, 66, 66);
    font-weight: 400;
    text-align: left;
    letter-spacing: 0.0192em;
    font-size: 13px;
    line-height: 18px;
    font-family: "Pretendard-Regular";
}

/* 로그인 */
.login-button {
    width: 100%;
    height: 48px;
    min-height: 48px;
    border-radius: 10px;
    font-size: 16px;
    color: rgba(55, 56, 60, 0.16);
    background-color: #F4F4F5;
    border: none;
    cursor: default;
}

.login-button >span {
    display: inline-block;
}

.button-span {
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.span-box0056em;
    font-size: 16px;
    line-height: 24px;
    font-family: "Pretendard-SemiBold";
}

#final-button.active {
    background-color: #0066ff;
    cursor: pointer;
    color: #ffffff;
}

/* '이메일로 회원가입, 비밀번호 재설정' div */
.login-withEmail-form >div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.signup-and-reset {
    position: relative;
    justify-content: center;
    border-top: 1px solid rgba(112, 115, 124, 0.22);
    padding-top: 48px;
}

/* '또는' */
.or-text {
    font-family: "Pretendard-Regular";
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.025em;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: white;
    padding: 0px 12px;
    color: rgba(55, 56, 60, 0.61);
}

/* ('또는' 아래) 이메일로 회원가입, 비밀번호 재설정 */
.signup-and-reset >div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
}

/* 이메일로 회원가입 */
.signup-and-reset >div button {
    margin: 0px;
    font-family: "Pretendard-Bold";
}

.signup-button {
    height: 48px;
    min-height: 48px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(112, 115, 124, 0.22);
    width: 100% !important;
}

.signup-button span {
    color: #0066ff !important;
}

.signup-button >span {
    display: inline-block;
}

/* 비밀번호 재설정 */
.signup-and-reset >div button {
    margin: 0px;
    width: fit-content;
}

.reset-button {
    height: 48px;
    min-height: 48px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
}

.signup-and-reset >div button span {
    color: rgba(55, 56, 60, 0.61);
}

.reset-button >span {
    display: inline-block;
}

.reset-button-span {
    color: #000000;
    font-weight: 600;
    text-align: left;
    letter-spacing: 0.0096em;
    font-size: 15px;
    line-height: 22px;
}

/* footer */
.footer {
    padding-top: 32px;
}