<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.yanawa.mapper.freewrite.FreewriteMapper">


    <insert id="insert">
        INSERT INTO TBL_FREEWRITE(ID, FREEWRITE_READ_COUNT, REPLY_COUNT, MEMBER_ID, CREATED_DATE, UPDATED_DATE)
        VALUES (#{id}, #{freewriteReadCount}, #{replyCount}, #{memberId}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <select id="selectAll" resultType="freewriteDTO">
        SELECT *
        FROM (
        SELECT
        ROWNUM AS rnum, temp.*
        FROM (
        SELECT
        F.ID,
        U.MEMBER_NICKNAME,
        F.FREEWRITE_READ_COUNT,
        F.REPLY_COUNT,
        F.MEMBER_ID,
        F.CREATED_DATE,
        F.UPDATED_DATE,
        P.POST_TITLE,
        P.POST_CONTENT
        FROM
        TBL_MEMBER U
        JOIN
        TBL_FREEWRITE F ON U.ID = F.MEMBER_ID
        JOIN
        TBL_POST P ON F.ID = P.ID
        WHERE
        F.ID IS NOT NULL
        ORDER BY
        <choose>
            <when test="order == 'recent'">
                F.ID DESC  <!-- 최신순으로 정렬 -->
            </when>
            <otherwise>
                F.FREEWRITE_READ_COUNT DESC  <!-- 조회수순으로 정렬 -->
            </otherwise>
        </choose>
        ) temp
        )
        WHERE rnum BETWEEN #{pagination.startRow} AND #{pagination.endRow}
    </select>


    <!-- 총 게시물 수 조회 -->
    <select id="selectTotal">
        SELECT COUNT(*) FROM TBL_FREEWRITE
    </select>

    <select id="selectById" resultType="freewriteDTO">
        SELECT
            f.POST_ID, f.FREEWRTIE_READ_COUNT, f.REPLY_COUNT, f.MEMBER_ID, f.CREATED_DATE, f.UPDATED_DATE,
            p.POST_TITLE, p.POST_CONTENT, u.MEMBER_NICKNAME
        FROM
            TBL_FREEWRITE f
                JOIN TBL_POST p ON f.POST_ID = p.ID
                JOIN TBL_MEMBER u ON f.MEMBER_ID = u.ID
        WHERE
            f.POST_ID = #{id}

    </select>



    <!-- 첨부파일 저장 -->
    <insert id="insertAttachment">
        INSERT INTO TBL_ATTACHMENT (ID, ATTACHMENT_PATH, ATTACHMENT_SIZE, POST_ID, CREATED_DATE, UPDATED_DATE)
        VALUES (SEQ_ATTACHMENT.NEXTVAL, #{attachmentPath}, #{attachmentSize}, #{postId}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>


</mapper>
