<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.yanawa.mapper.matching.MatchingMapper">

    <select id="selectMemberById" resultType="MemberVO">
        SELECT ID, MEMBER_NAME, MEMBER_EMAIL, MEMBER_PHONE FROM TBL_MEMBER
        WHERE ID = #{id}
    </select>

    <select id="selectTeamById" resultType="teamVO">
        SELECT ID, TEAM_NAME, SPORTS_KIND_RADIO_VALUE, CITY, LOCAL_CITY
             , DETAILED_AREA, TEAM_ACTIVITY_TIME, AGE_RANGE, MEMBER_ID FROM TBL_TEAM
        WHERE ID = #{id}
    </select>

    <select id="selectTeamIdByMemberId" resultType="long">
        SELECT ID
        FROM TBL_TEAM
        WHERE MEMBER_ID = #{memberId}
    </select>


    <select id="selectMemberId" parameterType="long" resultType="matchingDTO">
        SELECT
            M.ID AS memberId,
            M.MEMBER_NAME AS memberName,
            M.MEMBER_EMAIL AS memberEmail,
            M.MEMBER_PHONE AS memberPhone,
            T.ID AS teamId,
            T.TEAM_NAME AS teamName
        FROM
            TBL_MEMBER M
                JOIN
            TBL_TEAM T ON M.ID = T.MEMBER_ID
        WHERE
            M.ID = #{memberId}
    </select>


    <insert id="insert">
        INSERT INTO TBL_MATCHING (
            POST_ID, MATCHING_STATUS, TEAM_ID, SPORT_KIND_VALUE, CHOICE_AM_PM,
            TIME_REGIST, DATE_REGIST, TIME_CORDINATE, DATE_CORDINATE,
            CITY, LOCAL_CITY, LOCAL_CITY_DETAIL
        ) VALUES (#{postId}, #{matchingStatus}, #{teamId}, #{sportKindValue}, #{choiceAmPm},
                  #{timeRegister}, #{dateRegister}, #{timeCordinate}, #{dateCordinate},
                  #{city}, #{localCity}, #{localCityDetail})
    </insert>

    <sql id="search">
        <if test="search.keyword != null and search.keyword != ''">
            AND T.TEAM_NAME LIKE '%' || #{search.keyword} || '%'
        </if>
    </sql>

    <!-- 매칭 게시판 데이터 목록 조회 -->
    <select id="selectMatchingAll" resultType="matchingDTO">
        SELECT * FROM (
        SELECT
        ROWNUM AS R, X.* FROM (
        SELECT
        M.POST_ID, M.MATCHING_STATUS, M.TEAM_ID, M.SPORT_KIND_VALUE,
        M.CHOICE_AM_PM, M.TIME_REGIST AS timeRegister, M.DATE_REGIST AS dateRegister,
        M.TIME_CORDINATE, M.DATE_CORDINATE, M.CITY, M.LOCAL_CITY, M.LOCAL_CITY_DETAIL,
        M.CREATED_DATE AS createDate, M.UPDATED_DATE AS updateDate,
        T.TEAM_NAME, U.MEMBER_NAME, P.POST_TITLE
        FROM TBL_MEMBER U
        JOIN TBL_TEAM T ON T.MEMBER_ID = U.ID
        JOIN TBL_MATCHING M ON T.ID = M.TEAM_ID
        JOIN TBL_POST P ON P.ID = M.POST_ID
        WHERE M.POST_ID IS NOT NULL
        <if test="sport != null and sport != ''">
            AND M.SPORT_KIND_VALUE = #{sport}
        </if>
        <if test="place != null and place != ''">
            AND M.CITY = #{place}
        </if>
        <if test="time != null and time != ''">
            AND M.CHOICE_AM_PM = #{time}
        </if>
        <include refid="search"/>
        ORDER BY M.POST_ID DESC
        ) X
        )
        WHERE R BETWEEN #{freewritePagination.startRow} AND #{freewritePagination.endRow}
    </select>

    <!-- 매칭 게시물 수 조회 -->
    <select id="selectMatchingTotal">
        SELECT COUNT(*)
        FROM TBL_MATCHING M
        JOIN TBL_TEAM T ON M.TEAM_ID = T.ID
        WHERE POST_ID IS NOT NULL
        <if test="sport != null and sport != ''">
            AND SPORT_KIND_VALUE = #{sport}
        </if>
        <if test="place != null and place != ''">
            AND CITY = #{place}
        </if>
        <if test="time != null and time != ''">
            AND CHOICE_AM_PM = #{time}
        </if>
        <include refid="search"/>
    </select>


    <select id="getMatchingCount" resultType="int">
        SELECT COUNT(*) FROM TBL_MATCHING WHERE MATCHING_STATUS = '매칭중'
    </select>


    <!-- 특정 매칭 게시물 상세 조회 -->
    <select id="selectMatchingById" resultType="matchingDTO">
        SELECT M.POST_ID, M.MATCHING_STATUS, M.TIME_ID, M.TEAM_ID, M.SPORT_KIND_ID,
               M.TIME_CORDINATE, M.DATE_CORDINATE, M.LOCAL_CITY_ID, M.LOCAL_CITY_DETAIL,
               M.CREATED_DATE, M.UPDATED_DATE, M.DATE_NEGOTIABLE, M.TIME_NEGOTIABLE,
               T.TEAM_NAME, U.USER_NAME, U.USER_EMAIL, U.USER_PHONE
        FROM TBL_MATCHING M
                 JOIN TBL_TEAM T ON M.TEAM_ID = T.ID
                 JOIN TBL_USER U ON T.USER_ID = U.ID
        WHERE M.POST_ID = #{id}
    </select>

    <!-- 매칭 게시판 데이터 수정 -->
    <update id="updateMatching">
        UPDATE TBL_MATCHING
        SET MATCHING_STATUS = #{matchStatus},
            TIME_ID = #{timeId},
            TEAM_ID = #{teamId},
            SPORT_KIND_ID = #{sportKindId},
            TIME_CORDINATE = #{timeCordinate},
            DATE_CORDINATE = #{dateCordinate},
            LOCAL_CITY_ID = #{localCityId},
            LOCAL_CITY_DETAIL = #{localCityDetail},
            UPDATED_DATE = CURRENT_TIMESTAMP,
            DATE_NEGOTIABLE = #{dateNegotiable},
            TIME_NEGOTIABLE = #{timeNegotiable}
        WHERE POST_ID = #{id}
    </update>

    <!-- 매칭 게시판 데이터 삭제 -->
    <delete id="deleteMatching">
        DELETE FROM TBL_MATCHING
        WHERE POST_ID = #{id}
    </delete>

    <!-- 총 매칭 게시물 수 조회 -->
    <select id="selectTotalMatching">
        SELECT COUNT(*) FROM TBL_MATCHING
    </select>

</mapper>
