<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.yanawa.mapper.member.MemberMapper">
<!--일반회원가입, 카카오로그인-->
    <insert id="insert">
        <choose>
            <when test="memberPassword != null">
                INSERT INTO TBL_MEMBER (
                ID, MEMBER_NAME, MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_PHONE,
                MEMBER_PASSWORD, MEMBER_GENDER, MEMBER_BIRTH
                )
                VALUES (
                SEQ_MEMBER.NEXTVAL, #{memberName}, #{memberEmail}, #{memberNickName},
                #{memberPhone}, #{memberPassword}, #{memberGender}, #{memberBirth}
                )
            </when>
            <otherwise>
                INSERT INTO TBL_MEMBER (
                ID, MEMBER_NAME, MEMBER_KAKAO_EMAIL, MEMBER_KAKAO_PROFILE_URL,
                MEMBER_LOGIN_TYPE
                )
                VALUES (
                SEQ_MEMBER.NEXTVAL, #{memberName}, #{memberKakaoEmail}, #{memberKakaoProfileUrl},
                #{memberLoginType}
                )
            </otherwise>
        </choose>
    </insert>


    <!--이메일중복조회-->
    <select id="countByEmail" resultType="int" parameterType="String">
        SELECT COUNT(*) FROM TBL_MEMBER WHERE MEMBER_EMAIL = #{email}
    </select>

<!--닉네임중복조회-->
    <select id="countByNickname" resultType="int" parameterType="String">
        SELECT COUNT(*)
        FROM TBL_MEMBER
        WHERE MEMBER_NICKNAME = #{nickname}
    </select>

<!--로그인-->
    <select id="selectByMemberEmailAndMemberPassword" resultType="MemberVO">
        SELECT ID, MEMBER_EMAIL, MEMBER_NAME, MEMBER_NICKNAME, MEMBER_PHONE, MEMBER_PASSWORD,
               MEMBER_GENDER, MEMBER_POINT, MEMBER_INTRODUCE, MEMBER_SPORT_KIND,
               MEMBER_POSITION_KIND, MEMBER_SPORT_HISTORY, MEMBER_BIRTH,
               CREATED_DATE, UPDATED_DATE
        FROM TBL_MEMBER
        WHERE MEMBER_EMAIL = #{memberEmail} AND MEMBER_PASSWORD = #{memberPassword}
    </select>

<!--카카오이메일로 회원찾기-->
    <select id="selectByMemberKakaoEmail">
        SELECT ID, MEMBER_EMAIL, MEMBER_PASSWORD, MEMBER_KAKAO_EMAIL, MEMBER_KAKAO_PROFILE_URL, MEMBER_NAME, MEMBER_STATUS, MEMBER_LOGIN_TYPE, UPDATED_DATE, CREATED_DATE
        FROM TBL_MEMBER
        WHERE MEMBER_KAKAO_EMAIL = #{memberKakaoEmail}
    </select>


<!-- 팀 생성 => 회원 이름, 이메일, 전화번호 조회 -->
    <select id="selectMemberByMemberId" resultType="memberDTO">
        SELECT ID, MEMBER_NAME, MEMBER_EMAIL, MEMBER_PHONE
        FROM TBL_MEMBER WHERE ID = #{memberId}
    </select>

</mapper>