<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.yanawa.mapper.team.TeamMapper">

    <insert id="insert" parameterType="teamVO">
        INSERT INTO TBL_TEAM(ID, MEMBER_ID, TEAM_NAME, SPORTS_KIND_RADIO_VALUE, CITY, LOCAL_CITY, DETAILED_AREA, TEAM_ACTIVITY_TIME, AGE_RANGE)
        VALUES(SEQ_TEAM.NEXTVAL, #{memberId}, #{teamName}, #{sportsKindRadioValue}, #{city}, #{localCity}
              , #{detailedArea}, #{teamActivityTime}, #{ageRange})
    </insert>

    <select id="selectById" resultType="teamDTO">
        SELECT T.ID, TEAM_NAME, SPORTS_KIND_RADIO_VALUE, CITY, LOCAL_CITY, DETAILED_AREA,
               TEAM_ACTIVITY_TIME, AGE_RANGE, T.CREATED_DATE, T.UPDATED_DATE, MEMBER_ID,
               MEMBER_NAME, MEMBER_EMAIL, MEMBER_PHONE
        FROM TBL_MEMBER U JOIN TBL_TEAM T
                               ON U.ID = T.MEMBER_ID AND T.ID = #{id}
    </select>
</mapper>