<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.yanawa.mapper.team.TeamPostMapper">

    <insert id="insert" parameterType="teamPostVO">
        INSERT INTO TBL_TEAM_POST(ID, TEAM_ID, END_DATE, INFORMATION)
        VALUES (SEQ_TEAM_POST.NEXTVAL, #{teamId}, #{endDate}, #{information})
    </insert>

    <!--   selectById (상세 페이지, read) -->

    <!--   팀명,      모집 시작일,     스포츠 종목,         활동 가능 시간,         활동 위치,                모집 종료일,
        teamName    CREATEDATE  SPORTS_KIND_RADIO_ID    teamActivityTime    localCityId/detailedArea    endDate

               팀장 이메일,              추가정보(회비, 모집 선호 포지션, 준비물, 기타 준비용품)
               TEAM_LEADER_EMAIL        information

               팀장 이름,           팀장 소개,      팀원 수,       경기 횟수
               teamLeaderName       ??              ??          ??

               로그인한 회원의 이름
                    ?? -->


    <!--   selectAll (전체 목록, list) -->

    <select id="selectAll" resultType="teamPostDTO">
        SELECT P2.ID, M.TEAM_NAME, M.CITY, M.LOCAL_CITY, M.MEMBER_ID,
        MEMBER.EMAIL AS TEAM_LEADER_EMAIL, P2.CREATED_DATE,
        P2.UPDATED_DATE, P2.POST_READ_COUNT
        FROM TBL_TEAM M
        JOIN (
        SELECT ROWNUM R, ID, TEAM_ID, END_DATE, CREATED_DATE,
        UPDATED_DATE, POST_READ_COUNT FROM
        (
        SELECT ID, TEAM_ID, END_DATE, CREATED_DATE,
        UPDATED_DATE, POST_READ_COUNT
        FROM TBL_TEAM_POST
        ORDER BY
        <choose>
            <when test="order == 'recent'.toString()">ID</when>
            <otherwise>POST_READ_COUNT</otherwise>
        </choose>
        DESC
        ) P1
        <![CDATA[
            WHERE ROWNUM <= #{pagination.endRow}) P2
        ON M.ID = P2.TEAM_ID AND P2.R >= #{pagination.startRow}
        ]]> JOIN MEMBER ON M.MEMBER_ID = MEMBER.ID
    </select>

    <!--
    프로필 이미지, 팀명, CITY/LOCAL CITY, 팀원 평균 연령, 마감 3일 전, 창립일, 팀장 이메일, 마감 날짜(종료일)


            지원자 수, 현재 팀원 수, 모집 글 수, 모집글(추가 내용) -->
    <!--    페이징 처리-->
</mapper>
