<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="/static/css/admin_page/notice_css/notice_inquiry.css"
        />
        <title>공지사항- 목록 상세조회 페이지</title>
    </head>
    <body>
        <div id="wrap">
            <div class="page">
                <div class="content">
                    <p class="back">
                        <a href="">
                            <i class="fa fa-arrow-circle-o-left">
                                공지사항 목록으로 돌아가기</i
                            >
                        </a>
                    </p>
                    <div class="content-inner">
                        <section class="news-center-detail">
                            <h1 class="news-center-detail-title">
                                [공지사항] 야나와 이용약관 및 개인정보 처리방침
                                일부 개정 안내
                            </h1>
                            <div class="news-center-detail-publication">
                                <span
                                    class="news-center-detail-publication-publisher"
                                    >야나와</span
                                >
                                <span
                                    class="news-center-detail-publication-divider"
                                    >|</span
                                >
                                <span
                                    class="news-center-deatail-publication-date"
                                    >2024.03.14</span
                                >
                            </div>
                            <div class="news-detail-content-divider"></div>
                            <div class="news-detail-content">
                                <p></p>
                                <p>
                                    안녕하세요, 스포츠를 사랑하고 스포츠를
                                    위하는 야나와입니다. &nbsp;
                                    <br />
                                    항상 야나와를 이용해 주셔서 감사합니다.
                                    <br />
                                    <br />
                                    야나와 통합회원분들에게 더 나은 서비스를
                                    제공하기 위해, 이용약관 및 개인정보
                                    처리방침의 일부를 개정하고자 합니다.
                                    <br />
                                    <br />
                                    <strong>[개정 일시]</strong>
                                    <br />
                                    ◼ 공지 일자: 2024년 03월 15일
                                    <br />
                                    ◼ 시행 일자: 2024년 03월 25일
                                    <br />
                                    (개정 이용약관과 개인정보 처리방침과 개정
                                    전후 비교는 아래 링크에서 확인 가능합니다.)
                                    <br />
                                    ◼ 이용약관: &nbsp;
                                    <a href=""
                                        >~나중에 링크 주소 들어갈 부분~</a
                                    >
                                    <br />
                                    ◼ 개인정보 처리방침: &nbsp;
                                    <a href=""
                                        >~나중에 링크 주소 들어갈 부분~</a
                                    >
                                </p>
                                <br />
                                <p>
                                    <strong>[개정 전후 비교표]</strong>
                                    <br />
                                    ◼이용약관:&nbsp;
                                    <a href=""
                                        >~나중에 링크 주소 들어갈 부분~</a
                                    >
                                    <br />
                                    ◼ 개인정보 처리방침:&nbsp;
                                    <a href=""
                                        >~나중에 링크 주소 들어갈 부분~</a
                                    >
                                </p>
                                <br />
                                <p>
                                    <br />
                                    <strong>[관련 문의 및 이의제기]</strong>
                                    <br />
                                    이용약관 및 개인정보 처리방침 개정에 대한
                                    이의제기는 야나와 문의하기에서 건의사항으로
                                    문의 부탁드립니다. 만일, 이용약관 및
                                    개인정보 처리방침 개정에 동의하지 않으신다면
                                    현행 약관 제3조 6항에 따라 회원 탈퇴를 통해
                                    야나와 서비스의 이용을 중단할 수 있습니다.
                                    <br />
                                    개정된 이용약관 및 개인정보 처리방침 시행
                                    이후에도, 야나와 통합회원으로서 서비스를
                                    이용하는 경우 개정 내용에 동의하신 것으로
                                    간주되어, 시행일에 개정된 이용약관 및
                                    개인정보 처리방침이 적용됩니다.
                                    <br />
                                    <br />
                                    앞으로도 저희 야나와는 '세상이 일하는 방식을
                                    더 행복하게 변화시킨다.'라는 비전 하에 더
                                    좋은 서비스를 만들어 나가겠습니다.
                                    <br />
                                    <br />
                                    감사합니다.
                                    <br />
                                    야나와 드림.
                                </p>
                                <br />
                                <p></p>
                            </div>
                            <div
                                class="news-detail-content-divider"
                                style="margin: 0"
                            ></div>
                            <div
                                class="news-center-detail-publication"
                                style="margin-top: 20px; margin-bottom: 25px"
                            >
                                <span
                                    class="news-center-detail-publication-publisher"
                                    >야나와</span
                                >
                                <span
                                    class="news-center-detail-publication-divider"
                                    >|</span
                                >
                                <span
                                    class="news-center-deatail-publication-date"
                                    >2024.03.14</span
                                >
                            </div>
                        </section>
                        <section class="news-center-detail">
                            <div class="news-center-detail-divider"></div>
                            <p class="news-center-table-title">
                                <span class="before-tab-text">'뉴스센터'</span>
                                의 다른 글 보기
                            </p>
                            <p class="news-center-more-content">
                                <span
                                    class="news-center-more-content-title active-news"
                                    ><a href=""
                                        >[공지사항] 야나와 이용약관 및 개인정보
                                        처리방침 일부 개정 안내</a
                                    ></span
                                >
                                <span class="news-center-more-content-category"
                                    >| 공지사항</span
                                >
                                <span class="news-center-more-content-date"
                                    >2024.03.14.</span
                                >
                            </p>
                            <p class="news-center-more-content">
                                <span class="news-center-more-content-title"
                                    ><a href=""
                                        >[공지사항] 2024년 설 연휴 야나와 휴무
                                        안내</a
                                    ></span
                                >
                                <span class="news-center-more-content-category"
                                    >| 공지사항</span
                                >
                                <span class="news-center-more-content-date"
                                    >2024.02.07.</span
                                >
                            </p>
                            <p class="news-center-more-content">
                                <span class="news-center-more-content-title"
                                    ><a href=""
                                        >[공지사항] 2023년 추석 연휴 야나와 휴무
                                        안내</a
                                    ></span
                                >
                                <span class="news-center-more-content-category"
                                    >| 공지사항</span
                                >
                                <span class="news-center-more-content-date"
                                    >2023.09.26.</span
                                >
                            </p>
                            <a href="" class="more-news-center">
                                <span class="before-tab-text">공지사항</span>
                                더 보기 >
                            </a>
                            <div style="clear: both"></div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/js/adminPage/notice_js/notice_inquiry.js"></script>
</html>
